<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/default"
      th:with="user=${user}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accueil</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <div class="row mt-5">
        <div class="col-6 text-center">
            <a class="btn btn-primary" role="button" th:href="@{/login-utilisateur}">Se connecter</a>
        </div>
        <div class="col-6 text-center">
            <a class="btn btn-primary" role="button" th:href="@{/add-utilisateur}">Créer un compte</a>
        </div>
    </div>
</div>

</body>
</html>
