<!DOCTYPE html>
<html lang="fr" layout:decorate="layouts/default"
      th:with="user=${user}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connexion</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <div th:if="${param.error}">
        <div class="alert alert-danger">Mauvaise combinaison email / Mot de passe</div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-success">Deconnecter</div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Création de compte</h2>
        </div>
        <div class="card-body">
            <form
                    class="form-horizontal"
                    method="post"
                    role="form"
                    th:action="@{/add-utilisateur}"
            >
                <div class="form-group mb-3">
                    <label class="control-label">Email</label>
                    <input
                            class="form-control"
                            id="username"
                            name="username"
                            placeholder="Email"
                            type="text"
                    />
                </div>

                <div class="form-group mb-3">
                    <label class="control-label">Mot de Passe</label>
                    <input
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder="Mot de Passe"
                            type="password"
                    />
                </div>

                <div class="form-group mb-3">
                    <label class="control-label">Nom</label>
                    <input
                            class="form-control"
                            id="nom"
                            name="nom"
                            placeholder="Nom"
                            type="text"
                    />
                </div>

                <div class="form-group mb-3">
                    <label class="control-label">Prenom</label>
                    <input
                            class="form-control"
                            id="prenom"
                            name="prenom"
                            placeholder="Prenom"
                            type="text"
                    />
                </div>

                <div class="form-group mb-3">
                    <label class="control-label">Date de naissance</label>
                    <input
                            class="form-control"
                            id="dateNaissance"
                            name="dateNaissance"
                            type="date"
                    />
                </div>

                <div class="form-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="profil">Profil</label>
                    </div>
                    <select class="custom-select" id="profil" name="profil">
                        <option value="client">Client</option>
                        <option value="magasinier">Magasinier</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label class="control-label">Telephone</label>
                    <input
                            class="form-control"
                            id="telephone"
                            name="telephone"
                            placeholder="Telephone"
                            type="text"
                    />
                </div>
                <input name="enabled" type="hidden" value="true"/>
                <div class="form-group mb-3">
                    <button class="btn btn-primary" type="submit">Créer un compte</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>















