<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/default"
      th:with="user=${user}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

	<div layout:fragment="content">
		<form>
			<label>Créer un compte :</label>
			
			<input type=text formmethod=post>
			<label>Nom :</label>
			
			<input type=text formmethod=post>
			<label>Prénom :</label>
			
			<input type=date formmethod=post>
			<label>Date de naissance :</label>
			
			<input type=email formmethod=post pattern=[a-zA-Z0-9._%+-]+@[a-zA-Z]+\.[a-z]{2,4}>
			<label>email :</label>
			
			<input type=password formmethod=post pattern=[a-zA-Z0-9!@#&()–[{}]:;,?/*\~$^+=]{8,20} >
			<label>Mot de passe :</label>
			
			<input type=text formmethod=post pattern=[0-9]{2,2}+[0-9]{2,2}+[0-9]{2,2}+[0-9]{2,2}+[0-9]{2,2}>
			<label>Téléphone :</label>
			
			<div>
				<label>adresse :</label>
				
				<input type=text formmethod=post pattern=[0-9]{1,4}>
				<label>N°rue :</label>
				
				<input type=text formmethod=post pattern=[a-zA-Z]>
				<label>Rue :</label>
				
				<input type=text formmethod=post pattern=[a-zA-Z]>
				<label>Ville :</label>
				
				<input type=text formmethod=post pattern=[0-9]{5,5}>
				<label>Code postal :</label>
			</div>
			
			<div>
				<label>Carte bancaire:</label>
				
				<input type=text formmethod=post>
				<label>NOM :</label>
				
				<input type=text formmethod=post>
				<label>PRENOM :</label>
				
				<input type=text formmethod=post pattern=[0-9]{4,4}+[0-9]{4,4}+[0-9]{4,4}+[0-9]{4,4}>
				<label>N° de carte :</label>
				
				<input type=date formmethod=post>
				<label>Date de fin :</label>
				
				<input type=date formmethod=post pattern=[0-9]{3,3}>
				<label>Cryptogramme :</label>
			</div>
			
			<input type=submit formmethod=post placeholder="S'enregistrer">
		
		</form>
	</div>

</body>


</html>