<!DOCTYPE html>
<html lang="fr" layout:decorate="layouts/default"
      th:with="user=${user}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content">

    <div class="container text-center">

        <form action="/article/delete" method="post">
            <input name="id" th:value="${id}" type="hidden"/>
            <button class="btn btn-danger mt-5 mb-3" th:if="${role == 'ROLE_ADMIN' || role == 'ROLE_MAGASINIER'}"
                    type="submit">
                Supprimer l'article
            </button>
        </form>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <img alt="photo-article" style="width:100%" th:src="${article.photo}"/>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row" th:unless="${article.video == ''}">
            <div class="col-4"></div>
            <div class="col-4">
                <video style="width:100%" th:src="${article.video}" title="video-article"></video>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-6">
                <strong>Nom</strong>
            </div>
            <div class="col">
                <span th:text="${article.nom}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <strong>Description</strong>
            </div>
            <div class="col">
                <span th:text="${article.description}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <strong>Prix</strong>
            </div>
            <div class="col">
                <span th:text="${article.prix}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <strong>Remise</strong>
            </div>
            <div class="col">
                <span th:text="${article.remise}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <strong>Prix apres remise</strong>
            </div>
            <div class="col">
                <span th:text="${article.prix * (1 - (article.remise / 100))}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <strong>Stock</strong>
            </div>
            <div class="col">
                <span th:text="${article.stock}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <strong>Vendable ?</strong>
            </div>
            <div class="col">
                <span th:text="${article.vendable ? 'Oui' : 'Non'}"></span>
            </div>
        </div>
    </div>
</div>

</body>

</html>