<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/default"
      th:with="user=${user}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion Achats</title>
</head>
<body>

<div class="container text-center" layout:fragment="content">
    <div th:if="${role == 'ROLE_ADMIN' || role == 'ROLE_MAGASINIER'}">
        <button class="btn btn-primary mt-5 mb-2"
                type="button">
            Ajouter un article
        </button>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Categorie</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articles}">
            <td style="width:50px"><input aria-label="Delete" type="checkbox"></td>
            <td style="width:50px"><img style="width:50px" th:src="@{(${article.photo})}"/></td>
            <td th:text="${article.nom}"></td>
            <td th:text="${article.description}"></td>
            <td th:text="${article.prix}"></td>
            <td th:text="${article.categorie}"></td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary"
            th:if="${role == 'ROLE_ADMIN' || role == 'ROLE_MAGASINIER'}">
        Supprimer les articles selectionnes
    </button>
</div>

</body>
</html>